<h1>Edit Hike</h1>
<form class="" action="/hikes/<%=@hike.id%>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch" />
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%=@hike.name%>">
    <br><br>
    <label for="summary">Summary: </label>
    <input type="text" name="summary" value="<%=@hike.summary%>">
    <br><br>
    <label for="location">Location: </label>
    <input type="text" name="location" value="<%=@hike.location%>">
    <br><br>
    <label for="length">Length: </label>
    <input type="text" name="length" value="<%=@hike.length%>">
    <br><br>
    <label for="img_url">Image URL: </label>
    <input type="text" name="img_url" value="<%=@hike.img_url%>">
    <br><br>
    <input class="btn btn-primary" type="submit" name="submit" value="Edit Hike">
</form>
<br><br>
<a type="button" class="btn btn-default" href="/hikes">Back</a>
